/* HEADING */

:root{
    --blue1: #2445CD;
    --blue2: #4263EB;
    --blue3: #8A9DF0;
    --blue4: #ACBBF3;
    --blue5: #D0D8F5;
    --blue6: #E3E7F7;
    --blue7: #EBEEF7;
    
    --violet1: #5028C6;
    --violet2: #714AE8;
    --violet3: #A58DEE;
    --violet4: #BFB0F2;
    --violet5: #D9D2F4;
    --violet6: #E7E4F7;
    --violet7: #EEEDF7;
    
    --black1: #25282B;
    --black2: #52575C;
    --black3: #A0A4A8;
}

*{
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: Malik_Heavy;
    src: url(/Fonts/Malik_Heavy.ttf);
    font-style: normal;
}

html{
    font-size: 62,5%;
}

.blue_1{
    color: var(--blue1);
    font-family: Malik_Heavy;
}

body{
    background-color: rgb(250, 250, 250);
}




/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* ===================================== HOME PAGE =========================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */


/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* ===================================== HOME PAGE =========================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */

/* HEADER*/
/* ================================================================== */
/* ================================================================== */
.header_container{
    position: relative;
    background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
    margin-top: -80px;
    padding: 0px 50px;
}

header h1{
    font-family: 'Malik_Heavy';
    font-size: 7.5rem;
    color: var(--black1);
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: -20px;
}

header h2{
    font-size: 2.2rem;
    color: var(--black1);
}

header p{
    font-size: 18px;
    color: var(--black1);
}


.header_wave{
    margin-top: -200px;
    padding: 0;
}

@media screen and (max-width: 1700px) {
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: -80px;
    }
    
    .header_wave{
        margin-top: -180px;
        padding: 0;
    }
    
}

@media screen and (max-width: 1550px) {

    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: -50px;
    }
    
    .header_wave{
        margin-top: -150px;
        padding: 0;
    }
    
}

@media screen and (max-width: 1450px) {
   
    header h1{
        font-size: 6.5rem;
    }
    
    header h2{
        font-size: 1.9rem;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: -30px;
    }
    
    .header_wave{
        margin-top: -130px;
        padding: 0;
    }
    
}

@media screen and (max-width: 1300px) {
   
    header h1{
        font-size: 5.5rem;
    }
    
    header h2{
        font-size: 1.6rem;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: -20px;
    }
    
    .header_wave{
        margin-top: -120px;
        padding: 0;
    }
    
}

@media screen and (max-width: 1100px) {
   
    header h1{
        font-size: 5.3rem;
    }
    
    header h2{
        font-size: 1.5rem;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: 0px;
    }
    
    .header_wave{
        margin-top: -100px;
        padding: 0;
    }
    
}

@media screen and (max-width: 900px) {
   
    header h1{
        font-size: 4.6rem;
        margin-bottom: -10px;
    }
    
    header h2{
        font-size: 1.3rem;
    }

    header p{
        font-size: 14px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  53%, #ff000000 10%);
        margin-top: 0px;
    }
    
    .header_wave{
        margin-top: -80px;
        padding: 0;
    }
    
}


@media screen and (max-width: 767px) {
   
    header h1{
        font-size: 80px;
        margin-bottom: -10px;
        margin-top: 40px;
    }
    
    header h2{
        font-size: 28px;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  60%, #ff000000 10%);
        margin-top: 0px;
    }
    
    .header_wave{
        margin-top: -210px;
    }
    
    header lottie-player{
        margin-top: -100px;
        margin-bottom: 50px;
    }
}



@media screen and (max-width: 600px) {
   
    header h1{
        font-size: 80px;
        margin-bottom: -10px;
        margin-top: 40px;
    }
    
    header h2{
        font-size: 25px;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  55%, #ff000000 10%);
        margin-top: 0px;
    }
    
    .header_wave{
        margin-top: -210px;
    }
    
    header lottie-player{
        margin-top: -80px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
   
    header h1{
        font-size: 60px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
    header h2{
        font-size: 20px;
    }

    header p{
        font-size: 16px;
    }
    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  53%, #ff000000 10%);
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .header_wave{
        margin-top: -210px;
    }
    
    header lottie-player{
        margin-top: -80px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
   
    header h1{
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    
    header h2{
        font-size: 18px;
    }

    
    .header_container{
        background: -webkit-linear-gradient(top, #EBEEF7  65%, #ff000000 10%);
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header_wave{
        margin-top: -155px;
    }
    
    header lottie-player{
        margin-top: -55px;
        margin-bottom: 60px;
    }
}

/* SEARCH BOX */
/* =============================================================================== */
/* =============================================================================== */
.search_container{
    border: 4px solid var(--blue6);
    border-radius: 18.5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}

.search_container button:hover{
    background-color: #163dda;
    color: white;
}

.search_input{
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 30px;
    border-radius: 18.5px;
}

.search_input:focus{
    box-shadow: none;
    background-color: var(--blue7);
    
}

.search_container button{
    padding:23px 30px;
    background: #4263EB;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px 18.5px 18.5px 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


@media screen and (max-width: 1300px) {
    .search_container{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .search_input{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 30px;
        border-radius: 18.5px;
    }

    .search_container button{
        padding: 15px 30px;
        font-size: 18px;
    }
}

/* SECTION 2 (spedisci e ricevi) */
/* ================================================================================ */
/* ================================================================================ */
.section_2{
    margin-top: 100px;
}

.lottie_plane{
    margin-top: -10%;
}

.clouds_section2{
    margin-top: -15%;
}


@media screen and (max-width: 992px) {
    .lottie_plane{
        margin-top: -22%;
    }
    
    .clouds_section2{
        margin-top: -30%;
    }
}

@media screen and (max-width: 768px) {
    .lottie_plane{
        margin-top: -35%;
    }
    
    .clouds_section2{
        margin-top: -40%;
    }
}

@media screen and (max-width: 600px) {    
    .clouds_section2{
        margin-top: -48%;
    }
}

@media screen and (max-width: 500px) {    
    .clouds_section2{
        margin-top: -65%;
    }
}

@media screen and (max-width: 425px) {    
    .lottie_plane{
        margin-top: -50%;
    }
    
    .clouds_section2{
        margin-top: -85%;
    }
}

@media screen and (max-width: 350px) {    
    .lottie_plane{
        margin-top: -65%;
    }
    
    .clouds_section2{
        margin-top: -100%;
    }
    
    .section2_p{
        font-size: 5px;
    }
}




/* CONTACT US */
/* ======================================================================================= */
/* ======================================================================================= */
.contact_section{
    margin-top: 160px;
    background-image: url(/img/contact_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.contact_section input{
    padding: 10px ;
    border-radius: 3px;
}


.logo_wrapper{
    width: 100%;
}

.contact_logo{
    position: absolute;
    transform: translateY(-25%); 
}

.a_register{
    color: var(--blue2);
    transition: 300ms;
}

.a_register:hover{
    color: var(--blue1);
}


.contact_section button{
    color: white;
    border-color: var(--blue2); 
    background: #4263EB;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.a_register{
    color: var(--blue2);
    text-decoration: none;
    padding-left: 10px;
}

.contact_section button:hover{
    background-color: var(--blue1);
    color: white;
}

.my-title {
    padding: 40px;
    padding-bottom: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
    text-align: center;
}

.contact_section p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.contact_form-bg {
    position: relative;
    display: inline-block;
    background: var(--blue6);
    box-shadow: 0px 32px 64px -12px rgba(85, 105, 135, 0.08);
    border-radius: 16px;  
    max-width: 650px;
    padding: 30px 90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 80px;
}


.footer-link{
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #24293e;
}

@media screen and (max-width:576px){
    .contact_form-bg {
        max-width: 650px;
        padding: 20px 50px;
    }
}

/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* ================================= LOGIN / REGISTER PAGES ================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */

/* LOGIN SECTION */
/* ==================================================== */
/* ==================================================== */

.login_section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.login_section input{
    padding: 10px ;
    border-radius: 3px;
}


.logo_wrapper{
    width: 100%;
}

.login_logo{
    position: absolute;
    transform: translateY(-25%); 
}

.a_register{
    color: var(--blue2);
    transition: 300ms;
}

.a_register:hover{
    color: var(--blue1);
}


.login_section button{
    color: white;
    border-color: var(--blue2); 
    background: #4263EB;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.a_register{
    color: var(--blue2);
    text-decoration: none;
    padding-left: 10px;
}

.login_section button:hover{
    background-color: var(--blue1);
    color: white;
}

.my-title {
    padding: 40px;
    padding-bottom: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 38px;
    text-align: center;
}

.login_section p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
}

.form-bg {
    position: relative;
    display: inline-block;
    background: var(--blue7);
    box-shadow: 0px 32px 64px -12px rgba(85, 105, 135, 0.08);
    border-radius: 16px;  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    max-width: 650px;
    padding: 30px 90px;
}


.footer-link{
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #24293e;
}

@media screen and (max-width:576px){
    .form-bg {
        position: relative;
        display: inline-block;
        background: #FFFFFF;
        box-shadow: 0px 32px 64px -12px rgba(85, 105, 135, 0.08);
        border-radius: 16px;  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
        max-width: 650px;
        padding: 30px 50px;
    }
}







/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* ===================================== COMPONENTS ========================================== */
/* =========================================================================================== */
/* =========================================================================================== */
/* =========================================================================================== */


/* NAVBAR */
/* =================================================================== */
/* =================================================================== */

.my_navbar{
    position: sticky;
    top: 0;
    z-index:900;
    background-color:var(--blue7);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    transition: 600ms;
}

.nav_logo{
    height: 40px;
}

.my_navbar a{
    color: #556987;
    font-weight: 500;
    font-size: 18px;
}

.my_navbar a:hover{
    color: #556987;
}

.nav_a::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background: #556987;
    transition: 300ms;
}

.nav_a:hover::after{
    width: 100%;
}

.log_button{
    background: var(--blue2);
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.log_button:hover{
    background-color: var(--blue1);
}

.nav_category:hover{
    color: var(--black1);
}

.bars_icon{
    color: #556987;
    font-size: 24px;
}

@media screen and (max-width: 1400px) {
    .my_navbar{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .my_navbar a{
        font-size: 17px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    .nav_logo{
        height: 30px;
    }
    
    .log_button{
        font-size: 17px;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}



/* CARD VERTICALE */
/* ======================================================================= */
/* ======================================================================= */
.v_card{
    background-color: var(--blue7);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(218, 50, 50, 0.17);
}

.v_img{
    width: 95%;
    height: 200px;
    margin: auto;
    object-fit: cover;
    margin-top: -50px;
    border-radius: 8px;
}

.v_card_title_price{
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1.5px solid var(--black3);
    text-transform: capitalize;
    margin-bottom: 10px;  
}

.v_card_title_price h5{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.017em;
}

.v_card_category{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
    transition: 200ms;
}

.v_card_category:hover{
    color: var(--blue2);
    font-size: 18.5px;
}

.v_card_description{
    margin-top: 5px;
    line-height: 25px;
    color: var(--black1);
    font-weight: 400;
    letter-spacing: -0.009em;
}

.v_card_button{
    text-align: center;
}

.v_card_button a {
    margin-top: 10px;
    background: var(--blue2);
    border-radius: 8px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    transition: 300ms;
}

.v_card_button a:hover{
    background-color: #163dda;
}

.swiper {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--blue1) !important;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .swiper_title{
        margin-top: -50px !important;
    }
}






/* FOOTER */
/* ================================================================ */
/* ================================================================ */
.footer-dark {
    padding:50px 0;
    padding-bottom: 5px;
    color:#f0f9ff;
    background-color:#282d32;
}

.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align:center;
        padding-bottom:20px;
    }
}

.footer-dark .item.text {
    margin-bottom:36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom:0;
    }
}

.footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
}

.footer-dark .item.social {
    text-align:center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align:center;
        margin-top:20px;
    }
}

.footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .item.social > a:hover {
    opacity:0.9;
}

.footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}

